/* ----- Light Color Scheme ----- */

// ----- Main Palette ----- //
// Primary Color - Logo
$primary-color: #727cf5;
// Secondary Color - Elements, BG
$secondary-color: #4e5bf2;
// Tertiery Color
$tertiery-color: #0acf97; // #08ab7c; #089e74
// Accent Color - Hover Effect
$accent-color: #fed400;
// Accent Sub Color
$accent-sub-color: #AD8515;

// ----- Sub Palette ----- //
// Base Color - Page Background
$base-color: #fafbfe;
// Base Highlight Color - 1st Depth, Secondary Header, Card Wrapper
$base-sub-color: #fff;
// Base Highlight 2nd Color - 2nd Depth, Inner Header BG
$base-sub2-color: #f1f3fa;

// --- Mobile Navigation --- //
// Negative Base Color - Nav Background
$ng-base-color: #23282d;
// Negative Base Sub Color - Expanded Nav Background
$ng-base-sub-color: #191e23;

// --- Footer --- //
// Top footer BG Color
$top-footer-bg-color: #2643AD;
// Main footer BG Color
$footer-bg-color: #0f182b;
// Bottom footer BG Color
$bottom-footer-bg-color: #080c17;

// ----- Elements ------ //
// Line / Divider / Border - Light Area
$line-color: #f1f3fa;
// Negative Line / Divider - Dark Area
$line-color-ng: #444;

// ----- Typography ----- //
// Primary - Dark Types
$font-color-d1: #313a46; // lv1 - dark
$font-color-d2: #6c757d; // lv2 - darker
$font-color-d3: #98a6ad; // lv3 - darkest
// Negative Primary - Dark Area Font
$font-color-l1: #cedce4; // lv1 - light
$font-color-l2: #fff; // lv2 - lighter
$font-color-l3: #fff; // lv3 - lightest
// Accent - Light Area Accent
$font-color-ac1:  #fed400; // lv1 - bright
$font-color-ac2:  #AD8515; // lv2 - dull
// Negative Accent - Dark Area Accent
// Site Title
$site-title-color: #fff;

// ----- Underscore Default ----- //

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;