/* ----- Light Color Scheme ----- */

// ----- Theme Palette ----- //
// Primary Color - Logo
$primary-color: #727cf5;
// Secondary Color - Elements, BG
$secondary-color: #4e5bf2;
// Tertiery Color
$tertiery-color: #23b2e9; // #0acf97;
// Accent Color - Hover Effect
$accent-color: #fed400;
// Accent Sub Color
$accent-sub-color: #AD8515;

// ----- Typography ----- //
// Primary - Light Area Font
$font-color: #6c757d;
// Primary Muted - Light Area Font
$font-color-muted: #98a6ad;
// Negative Primary - Dark Area Font
$font-color-ng: #cedce4;
// Accent - Light Area Accent
$font-color-ac:  #fed400;
// Negative Accent - Dark Area Accent
$font-color-ng-ac: #fff;
// Site Title
$site-title-color: #fff;

// ----- Structural ----- //
// --- Header --- //
// Base Color - Page Background
$base-color: #fafbfe;
// Base Sub Color - Secondary Header, Card Wrapper
$base-sub-color: #fff;

// --- Mobile Navigation --- //
// Negative Base Color - Nav Background
$ng-base-color: #23282d;
// Negative Base Sub Color - Expanded Nav Background
$ng-base-sub-color: #191e23;

// --- Footer --- //
// Top footer BG Color
$top-footer-bg-color: #2643AD;
// Main footer BG Color
$footer-bg-color: #0f182b;
// Bottom footer BG Color
$bottom-footer-bg-color: #080c17;

// ----- Elements ------ //
// Line / Divider / Border - Light Area
$line-color: #f1f3fa;
// Negative Line / Divider - Dark Area
$line-color-ng: #444;

// ----- Underscore Default ----- //

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;