// set logo size - mobile
$size__logo-mobile-x: 190px;
$size__logo-mobile-y: 27px;

// set logo size - mobile fixed header
$size__logo-mobile-fixed-x: 190px;
$size__logo-mobile-fixed-y: 27px;

// set logo size - pc
$size__logo-pc-x: 190px;
$size__logo-pc-y: 27px;

// set logo size - pc fixed header
$size__logo-pc-fixed-x: 190px;
$size__logo-pc-fixed-y: 27px;
