// set logo size - mobile
$size__logo-mobile-x: 100px;
$size__logo-mobile-y: 33px;

// set logo size - mobile fixed header
$size__logo-mobile-fixed-x: 100px;
$size__logo-mobile-fixed-y: 33px;

// set logo size - pc
$size__logo-pc-x: 125px;
$size__logo-pc-y: 43px;

// set logo size - pc fixed header
$size__logo-pc-fixed-x: 125px;
$size__logo-pc-fixed-y: 43px;
