// set main content layout
$size__site-sidebar-header: 250px;

$size__site-main-mobile: 100%;
$size__site-sidebar-mobile: 100%;
$size__site-main: 75%;
$size__site-sidebar: 25%;

// set mobile menu breakpoint: xs / sm / md / lg / xl
$breakpoint__mobile-nav: md;

// set main menu flex direction: column / row
$flex-direction__main-nav: row;

// set main menu justify content: flex-start / flex-end / center / space-between / space-around
$justify-content__main-nav: center;
