/**
 * Module: Custom Bootstrap searchform
 *
 * Installation
 *
 * 1. add searchform.php to wp main folder
 * 2. add <?php get_search_form(); ?> to php template
 * 3. add below searchform toggle snippit to php template
    <button class="btn btn-primary btn-search-toggle" type="button" data-toggle="collapse" data-target="#searchform" aria-expanded="false" aria-controls="saerchform">
		<i class="fas fa-search"></i>
	</button>
 *
 */

/* ----- Theme Design ----- */
// --- Side Header Layout --- //
#secondary-header {
  .secondary-header-wrapper {
    >form {
      // Secondary header searchform
      margin-left: 15px;
    }
  }

  .secondary-header-widget-wrapper {
    text-align: center;

    .search-toggle {
      @include rfs(19);
      color: $font-color-muted;
      border: none;
      background-color: transparent;

      &:hover {
        color: $accent-color;
      }
    }
  }
}


//#secondary-header

// --- xs, sm only --- //
@include media-breakpoint-down(sm) {
  #secondary-header {
    .secondary-header-wrapper {
      form#search_form {
        position: absolute;
        margin-top: 40px;
        margin-left: 25px;
        right: 30px;
        visibility: hidden;
        opacity: 0;
        @include transition(all 0.2s ease);

        &.is-active {
          display: block;
          margin-top: 60px;
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

// --- md, lg, xl only --- //
@include media-breakpoint-up(md) {
  #secondary-header {
    .secondary-header-wrapper {
      .navbar-toggle {
        display: none;
      }

      form#search_form {
        @include flexbox;
        @include align-items(center);
        margin-left: 35px;
      }

      .secondary-header-widget-wrapper {
        .search-toggle {
          display: none;
        }
      }
    }
  }
}

/* ----- Default ----- */
form#search_form {
  max-width: 350px;
  .input-group {
    >input {
      padding: 5px 10px 8px;
      height: 38px;

      @include inputPlaceholder() {
        @include rfs(12);
      }
    }

    >span {
      >button {
        // Secondary header searchform btn
        background-color: $primary-color;
        padding: 7px 14px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        &:hover {
          background-color: $secondary-color;
        }
      }
    }
  }
}