#masthead {
  .slimScrollDiv {
    .masthead-container {
      nav.navbar-primary {
        .nav-wrapper {
          #main-menu-wrapper {
            >ul#main-menu {
              >li.menu-item {
                >a.nav-link {
                  color: $font-color-ng;
                  &:hover {
                    color: $font-color-ng-ac;
                  }
                }
                >ul.dropdown-menu {
                  padding-top: 0;
                  background-color: transparent;
                  border: none;
                  height: 0;
                  @include rfs(14);
                  @include transition(all 0.4s ease);
                  &.show {
                    height: 100%;

                    >li.menu-item {
                      >a.dropdown-item {
                        color: $font-color-ng;
                        &:hover,
                        &:focus {
                          background-color: transparent;
                          color: $font-color-ng-ac;
                        }
                      }
                      &.active {
                        >.dropdown-item {
                          color:$font-color-ng-ac;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-up($breakpoint__mobile-nav) {}