a {
	color: $font-color-d1;

	&:visited {
		color: $font-color-d1;
	}
	&:hover,
	&:focus,
	&:active {
		color: $font-color-l2;
	}
	&:focus {
		outline: 0;
	}
	&:hover,
	&:active {
		outline: 0;
	}
	&:hover {
		text-decoration: none;
	}
}
