a {
	color: $font-color;

	&:visited {
		color: $font-color;
	}
	&:hover,
	&:focus,
	&:active {
		color: $font-color-ng-ac;
	}
	&:focus {
		outline: 0;
	}
	&:hover,
	&:active {
		outline: 0;
	}
	&:hover {
		text-decoration: none;
	}
}
