// Medium devices (tablets, less than 992px)
@include media-breakpoint-down(md) {
    nav { // .navbar-primary
        .navbar-collapse { // .navbar-collapse
            // slide-in-menu max width
            max-width: 22rem;
            &.show {
                > ul { //  #menu-primary-menu, .navbar-nav
                    > li { // .nav-item
                        // hover left highlight bar height
                        position: relative;
                        &:hover:before {
                            content: '';
                            position: absolute;
                            width: 5px;
                            height: 100%;
                            left: 0;
                        }
                        &.show:before {
                            content: '';
                            position: absolute;
                            width: 5px;
                            height: 100%;
                            left: 0;
                        }
                        a { // .nav-link (depth 1), .dropdown-item (depth 2)
                            // link spacing
                            padding: 0.75rem 1rem;
                        }
                    }
                }
            }
        }
    }
}