// Layouts
@import "../layout/content-sidebar";
@import "../../site/primary/posts-and-pages";
@import "../content/default"; // pm resets
// Widgets
@import "../../site/primary/comments";
@import "../elements/widgets/archive-card-shadow";

/* ----- Theme Style ----- */
// ----- Global ----- //
.column-wrapper {
	-webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, .15);
	box-shadow: 0 0 35px 0 rgba(154, 161, 171, .15);
}

body {
	&.blog { // Front Page
		article.post {
			.post-wrapper {
				background-color: $base-sub-color;
	
				header.entry-header {
					.entry-title {
						a {
							color: $font-color-d2;
	
							&:hover {
								color: $font-color-ac1;
							}
						}
					}
				}
				.entry-content {
					display: none;
				}
			}
		}		
	}
	&.archive { // Archive Pages
		article.post {
			.post-wrapper {
				background-color: $base-sub-color;
	
				header.entry-header {
					.entry-title {
						a {
							color: $font-color-d2;
	
							&:hover {
								color: $font-color-ac1;
							}
						}
					}
				}
				.entry-content {
					display: none;
				}
			}
		}
	}
	&.single { // Single Posts
		article.post {
			.post-wrapper {
				.post-thumbnail {
					display: none;
				}
				header.entry-header {
					text-align: center;
					h1.entry-title {
						margin-bottom: 10px;
					}
					.entry-meta {
						display: none;
					}
					.tags-wrapper {
						>ul {
							@include justify-content(center);
						}
					}
				}
			}
		}
	}
}


@include media-breakpoint-up($breakpoint__mobile-nav) {

	// all posts & pages spacing bottom
	.site-content {
		margin-left: $size__site-sidebar-header;
	}
}

// --- Tags module --- //
.tags-wrapper {
	>ul {
		@include flexbox;
		@include justify-content(flex-start);

		li.tags_class {
			border: 1px solid;
			border-radius: 5px;
			padding: 2px 5px;
			@include rfs(11);
			margin: 0 5px;
			background-color: #ffbc00;
			border-color: #ffbc00 !important;

			>a {
				color: $font-color-l1;

				&:hover {
					color: $font-color-l2;
				}
			}

			&:hover {
				background-color: #d9a000;
				border-color: #cc9600 !important;
				;
			}

			&.깨끗한 {
				background-color: #0acf97;
				border-color: #0acf97 !important;
				;

				&:hover {
					background-color: #08ab7c;
					border-color: #089e74 !important;
					;
				}
			}

			&.아름다운 {
				background-color: #fa5c7c;
				border-color: #fa5c7c !important;
				;

				&:hover {
					background-color: #f9375e;
					border-color: #f82b54 !important;
					;
				}
			}
		}
	}
}

body {
	&.blog {
		.tags-wrapper {
			>ul {
				@include justify-content(center);
			}
		}	
	}
	&.archive {
		.tags-wrapper {
			>ul {
				@include justify-content(center);
			}
		}
	}
	
}

// ----- End Global ----- //