@import "../header/default";

/* ----- Theme Custom ----- */
#masthead {
  background: linear-gradient(135deg,#8f75da 0,#727cf5 60%);
  .slimScrollDiv {
    width: 100%;
    .masthead-container {
      .site-branding {
        margin: 1rem 0 2rem;
      }
      nav.navbar-primary {
        .nav-wrapper {
          #main-menu-wrapper {
            ul#main-menu {
              li.menu-item {
                ul.dropdown-menu {
                  &.show {
                    li.menu-item {
                      a.dropdown-item {
                        color: #cedce4;
                        &:hover, &:focus {
                          color: #fff;
                        }
                      }
                    }
                  }
                }
                &.show {
                  a.nav-link {
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@include media-breakpoint-up($breakpoint__mobile-nav) {

}
@include media-breakpoint-down(md) {

}
