// footer area
#main-footer {
  position: relative;
  border-top-style: solid;
  border-top-width: 1px;
}

// colophon area
#bottom-footer {
  position: relative;
  border-top-style: solid;
  border-top-width: 1px;
}
